---
title: Home
order: 0
heading: 'Backbone Debugger'
lead: Chrome Developer Tools extension for debugging Backbone.js applications.
---
<div class="jumbotron">
    <h1>{{ heading }}</h1>
    <p>{{ lead }}</p>
    <p>
      <a class="btn btn-primary btn-lg" href="{{ site.chrome_install }}">Install &raquo;</a>
      <a class="btn btn-primary btn-lg" href="{{ site.github_project }}">Get the source &raquo;</a>
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>Displays in real-time all your Backbone application views, models, collections and routers:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>Views</h2>
            <a href="{{assets}}/img/screenshots/views.png">
                <img class="components-screenshot" alt="Views" src="{{assets}}/img/screenshots/views.png"/>
            </a>
            <p>Rendering status, html element, associated model and/or collection, handled page events, 
               events triggered</p>
        </div>
        <div class="col-lg-6">
            <h2>Models</h2>
            <a href="{{assets}}/img/screenshots/models.png">
                <img class="components-screenshot" alt="Models" src="{{assets}}/img/screenshots/models.png"/>
            </a>
            <p>Last sync status, attributes, id, cid, url, associated collection, events triggered, sync actions</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>Collections</h2>
            <a href="{{assets}}/img/screenshots/collections.png">
                <img class="components-screenshot" alt="Collections" src="{{assets}}/img/screenshots/collections.png"/>
            </a>
            <p>Last sync status, models, url, events triggered, sync actions</p>
        </div>
        <div class="col-lg-6">
            <h2>Routers</h2>
            <a href="{{assets}}/img/screenshots/routers.png">
                <img class="components-screenshot" alt="Routers" src="{{assets}}/img/screenshots/routers.png"/>
            </a>
            <p>Events triggered (include routes)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>Extends the sidebar of the Elements panel to display the Backbone View 
                of the inspected html element.</h3>
        </div>
    </div>
</div>